
/*2016/07/11*/

#tooltip {
	display: none;
	position: absolute;
	background-color: white;
	color: #555;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	padding: 5px 8px;
	z-index: 999999;
	border-radius: 3px;
	direction: rtl;
	font-size: 13px;
	border-right-width: 3px;
	border-right-style: solid;
	font-weight: bold;
}

