
.dropsearch_select {
	display: inline-block;
	position: absolute;
	left: 0px;
	z-index: 12;
	list-style-type: none;
	background-color: #ddd;
	border: 1px solid #0003;
	max-height: 200px;
	overflow-y: scroll;
}
.dropsearch_select > li {
	display: block;
	padding: 4px 4px;
	cursor: pointer;
}
.dropsearch_select > li:nth-child(even) {
	background-color: #eee;
}
.dropsearch_select > li:hover {
	background-color: #fff;
}

.dropsearch_loading {
	opacity: 0.7;
}