
/**
 *
 * do-ajax file i
 **/
.do-ajax-i,
.do-ajax-j > i {
	color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
}
.do-ajax-i:hover,
.do-ajax-j:hover ,
.do-ajax-j > i:hover {
	color: royalblue !important;
}
.do-ajax-j {
	display: inline-block;
}
input[type=file].do-ajax ,
input[type=file][do-ajax] {
	display: none;
}
.do-ajax:not([interval]):not(textarea,input),
[do-ajax]:not([interval]):not(textarea,input) {
	cursor: pointer;
}

textarea.do-ajax ,
textarea[do-ajax] {
	cursor: text;
}
